@import "../variables";
.range-dropdown {
    position: absolute;
    top: 50px;
    width: auto;
    display: none;
    flex-direction: column;
    background: white;
    align-items: center;
    height: auto;
    min-height: 300px;
    z-index: 1000;
    left: 0;
    right: 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    .dropdown-item {
        display: block;
        padding: 15px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: lighten(map-get($colors, main), 90%);
        }
        &.active-item {
            background: map-get($map: $colors, $key: main);
            color: white;
        }
    }
    &.dropdown-active {
        display: flex;
    }
    .days-count {
        padding: 10px 0;
    }
    .range-dropdown-toggle {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        // margin: 10px 0;
        margin-bottom: 10px;

        .toggle-item {
            padding: 8px;
            border: 1px solid map-get($map: $text, $key: secondary);
            min-width: 100px;
            width: auto;
            cursor: pointer;
            text-align: center;

            // &:first-child {
            //     border-right: none;
            // }
            // &:last-child {
            //     border-left: none;
            // }
            &.active-item {
                background-color: map-get($map: $colors, $key: main);
                color: white;
                font-weight: 600;
            }
        }
        span {
            margin: 0 10px;
        }
    }
    .selected-year {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;

        i {
            margin: 0;
            font-size: 20px;
            cursor: pointer;
        }
        span {
            font-weight: 600;
            cursor: pointer;
        }
    }
    .range-dropdown-main {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-rows: repeat(5, minmax(0, 1fr));
        text-align: center;
        width: 100%;
        height: auto;

        span {
            padding: 10px;
            font-weight: 400;
        }
        .range-dropdown-main-item {
            cursor: pointer;

            &:hover {
                background: lighten(map-get($colors, main), 90%);
            }
        }
        .active-day {
            background-color: map-get($map: $colors, $key: main);
            color: white;
            font-weight: 600;

            &:hover {
                background-color: map-get($map: $colors, $key: main);
            }
        }

        &.range-dropdown-alternate {
            display: flex;
            flex-wrap: wrap;

            .range-dropdown-main-item {
                width: 98px;
            }
        }
    }
    .apply-button {
        margin-bottom: 10px;
    }
}
