@import '../variables';

.date-range-input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    @media (min-width: 360px){
        width: 320px;
        margin: 0 0 20px auto;
    }

    .selected-range {
        border: 1px solid map-get($map: $text, $key: secondary);
        padding: 10px;
        border-radius: 2px;
        background: white;
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .selected-range-text {
            margin-left: 8px;
            white-space: nowrap;
        }
    }
}