.dashboard-container {
    display: flex;
    flex-direction: column;
    
    .double-component {
        display: flex;
        flex-direction: column  ;
        width: 100%;
        margin: 20px 0;

        @media (min-width: 992px){
            flex-direction: row;
        }
    }
    .orders-stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        & > div {
            margin-bottom: 10px !important;

            @media (min-width: 623px){
                margin-right: 10px !important;
            }
        }
    }

}