.main {
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #000;
    padding: 10px;
    color: #fff;
    margin-top: auto !important;
}
