@import "./variables";
.header {
    background-color: white;
    width: 100%;
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 16%);

    .navbar {
        display: flex;
        align-items: center;

        .logo {
            display: none;
            margin-left: 1.5em;

            @media (min-width: 768px) {
                display: block;
                padding: 10px 0;
            }
        }
        .sidebar {
            font: inherit;

            .sidebar-opener {
                font: inherit;
                padding: 20px 20px 20px 0;
                cursor: pointer;
                border-radius: 50px;
                display: inline-block;

                span {
                    width: 28px;
                    height: 3px;
                    background: map-get($map: $text, $key: secondary);
                    display: block;
                    margin-bottom: 6px;
                    border-radius: 4px;
                    transition: 0.2s ease-in-out;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    &:nth-child(1) {
                        transform-origin: left;
                    }
                    &:nth-child(2) {
                        transform-origin: center;
                    }
                    &:nth-child(3) {
                        transform-origin: left;
                    }
                }

                &.active {
                    font: inherit;

                    span {
                        font: inherit;

                        &:nth-child(1) {
                            transform: rotate(40deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-40deg);
                        }
                    }
                }
            }
            .slider {
                max-width: 256px;
                overflow-y: auto;
                overflow-x: hidden;
                width: 230px;
                height: calc(100% - 61px - 66px);
                position: absolute;
                left: 0;
                top: 65px;
                z-index: 1000;
                background-color: white;
                box-shadow: inset -1px 0 0 rgb(100 121 143 / 20%);
                transform: translateX(-230px);
                transition: transform 0.2s ease-in-out;
                // overflow: hidden;

                @media (min-width: 768px) {
                    top: 80px;
                    width: 65px;
                    transition: width 0.2s ease-in-out;
                    transform: translateX(0px);
                    height: calc(100% - 65px - 80px);
                }

                &.slider-active {
                    transform: translateX(0);

                    @media (min-width: 768px) {
                        width: 256px;
                    }
                }
                &.slider-click {
                    transform: translateX(-220px);

                    @media (min-width: 768px){
                        transform: translateX(0px);
                    }
                }
            }
            .slider-items-list {
                list-style: none;
                padding: 0;
                margin: 0;

                

                .slider-item {
                    padding: 15px;
                    padding-left: 1em;

                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    color: map-get($map: $text, $key: secondary);

                    @media (min-width: 768px) {
                        padding-left: 1.5em;
                    }

                    &:hover {
                        background-color: map-get($map: $colors, $key: background);
                    }

                    i {
                        font-size: 20px;
                        margin-right: 1em;
                        color: map-get($map: $text, $key: secondary);

                        @media (min-width: 768px) {
                            margin-right: 1.5em;
                        }
                    }

                    &.active-item {
                        color: map-get($map: $text, $key: active);
                        background: map-get($map: $colors, $key: active);

                        i {
                            color: map-get($map: $text, $key: active);
                        }
                    }

                    .dropdown-icon {
                        font-size: 14px;
                        align-self: flex-end;
                        margin-bottom: 5px;
                    }
                    .slider-item--text {
                        font-weight: 600;
                    }
                }
                .slider-dropdown {
                    position: relative;

                    .slider-dropdown-list {
                        margin-left: 0px;
                        height: 0px;
                        transition: height .2s ease-in-out, margin-left .2s ease-in-out;
                        overflow: hidden;
                        

                        &.slider-dropdown-list__active {
                            height: auto;
                        }
                        &.slider-dropdown-margin {
                            margin-left: 50px;
                        }
                    }
                    .slider-item-title {
                        display: flex;
                        flex-wrap: nowrap;
                    }
                    .dropdown-slider-item {
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        cursor: pointer;
                    }
                }
            }
        }
        .nav-right-list {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-left: auto;

            .nav-right-item {
                padding: 10px;
                cursor: pointer;
                border-radius: 50%;
                text-align: center;
                margin-right: 12px;
                position: static;

                .nav-right-item__icon {
                    font-size: 20px;
                    margin: 0;
                    position: relative;

                    .notification-count {
                        position: absolute;
                        font-size: 12px;
                        padding: 0 4px;
                        color: white;
                        border-radius: 10px;
                        top: -12px;
                        left: 15px;
                        font-weight: 600;
                        background-color: map-get($map: $text, $key: active);
                    }   
                }
                &:hover {
                    background-color: darken(map-get($colors, background), 6%);
                }
                @media (min-width: 768px){
                    position: relative;
                }

                .nav-right-dropdown {
                    position: absolute;
                    top: 0px;
                    height: 100%;
                    overflow-y: auto;
                    right: 0;
                    width: 0px;
                    display: block;
                    // transform: translateX(300px);
                    // transition: transform .3s ease-in-out;
                    transition: width .3s ease-in-out;
                    border: 1px solid #ccc;
                    border-color: rgba(0, 0, 0, 0.2);
                    background: white;
                    z-index: 1002;
                    


                    @media (min-width: 768px){
                        
                        display: none;
                        flex-direction: column;
                        right: 0;
                        top: 50px;
                        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
                        width: 400px;
                        height: 400px;
                        border: 1px solid #ccc;
                        border-color: rgba(0, 0, 0, 0.2);
                        border-radius: 6px;
                    }
                    .dropdown-close-mobile {

                        text-align: left;
                        padding: 10px;
                        display: block;

                        i {
                            font-size: 16px;
                            font-weight: lighter;
                            margin-right: 50px;
                        }
                        span {
                            font-size: 18px;
                        }

                        @media (min-width: 768px){
                            display: none;
                        }
                    }
                    .dropdown-header-desktop,
                    .dropdown-footer-desktop {
                        display: none;
                        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;


                        @media (min-width: 768px){
                            display: block;
                            text-align: center;
                            padding: 10px;
                            
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                    .dropdown-header-desktop {
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                    }
                    .dropdown-body {
                        overflow-y: auto;
                        overflow-x: hidden;
                        text-align: left;   

                        .notification-item,
                        .message-item {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            padding: 15px;
                            position: relative;

                            &:hover {
                                background-color: map-get($map: $colors, $key: background);
                            }
                            img {
                                border-radius: 50%;
                                margin-right: 6px;
                            }
                            .notification-item-text {
                                color: map-get($map: $colors, $key: main);
                            }
                            span,
                            .sender-name {
                                color: map-get($map: $text, $key: active);
                                font-weight: 600;
                            }
                            .message-created {
                                color: map-get($map: $text, $key: secondary);
                                font-size: 12px;
                                position: absolute;
                                right: 30px;
                                top: 14px;
                                font-weight: 600;
                            }
                            .notification-created {
                                color: map-get($map: $text, $key: secondary);
                                font-size: 12px;
                                display: block;
                                font-weight: 600;
                            }
                            
                        }
                    }
                    .dropdown-footer-desktop {
                        margin-top: auto;
                        border-bottom-left-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }

                    &.nav-right-dd__active {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
                        // transform: translateX(0);
                        width: 300px;

                        @media (min-width: 768px){
                            display: flex;
                            width: 400px;

                        }
                    }

                }

                &.profile-box {
                    position: relative;
                    margin-right: 0px;
                    padding: 0;
                    

                    .profile-box-container {
                        background-color: darken(map-get($colors, background), 6%);
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: centers;
                        border-radius: 50px;
                        padding: 5px;
                        .opener-icon {
                            padding: 4px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .profile-image {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        span {
                            width: 22px;
                            height: 3px;
                            display: block;
                            margin-bottom: 3px;
                            border-radius: 4px;
                            background: map-get($map: $text, $key: secondary);
                        }
                    }
                    .profile-box-dropdown {
                        position: absolute;
                        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
                        border: 1px solid #ccc;
                        border-color: rgba(0, 0, 0, 0.2);
                        border-radius: 6px;
                        right: 0;
                        top: 50px;
                        z-index: 1002;
                        display: none;
                        background: white;

                        .profile-box-dropdown-list {
                            margin: 0;
                            padding: 5px 0;
                            list-style: none;
                            text-align: left;

                            .profile-box-dropdown-item {
                                padding: 10px 80px 10px 10px;

                                &:hover {
                                    background-color: map-get($map: $colors, $key: background);
                                }
                            }
                        }

                        &.profilebox-active {
                            display: block;
                        }
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.main {
    font: inherit;


    .action-Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 768px) {
            justify-content: space-between;
            flex-direction: row;
        }
        .action-buttons {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-basis: 2;
            margin-left: 0;
            margin-top: 20px;
            width: 100%;
            @media (min-width: 768px){
                width: auto;
                margin-top: 0px;
                margin-left: 20px;
            }
        }
        button {
            margin-right: 0px;
            white-space: nowrap;

            &:last-child {
                margin-right: 0px;
            }
            @media (min-width: 768px){
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    text-align: center;
    background-color: map-get($map: $colors, $key: main);
    padding: 10px;
    z-index: 1001;
    color: #fff;
    margin-top: auto !important;
}
