@import './variables';
.header {
    background-color: white;
    width: 100%;
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 16%);


    .navbar {
        display: flex;
        align-items: center;

        .logo {
            display: none;
           

            @media (min-width: 768px) {
                display: block;
                padding: 10px 0;
            }
        }
        .sidebar {
            font: inherit;

            .sidebar-opener {
                font: inherit;
                padding: 20px 20px 20px 0;
                cursor: pointer;
                border-radius: 50px;
                display: inline-block;
    
                span {
                    width: 28px;
                    height: 3px;
                    background: map-get($map: $text, $key: secondary);
                    display: block;
                    margin-bottom: 6px;
                    border-radius: 4px;
                    transition: .2s ease-in-out;
    
    
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    &:nth-child(1){
                        transform-origin: left;
                    }
                    &:nth-child(2){
                        transform-origin: center;
                    }
                    &:nth-child(3){
                        transform-origin: left;
                    }
    
    
                }
    
                &.active {
                    font: inherit;
    
                    span {
                        font: inherit;
    
                        &:nth-child(1){
                            transform: rotate(40deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            transform: rotate(-40deg);
                        }
                    }
                }
            }
            .slider {
                max-width: 256px;
                width: 220px;
                height: calc(100% - 61px - 66px);
                position: absolute;
                left: 0;
                top: 65px;
                z-index: 1000;
                background-color: white;
                box-shadow: inset -1px 0 0 rgb(100 121 143 / 20%);
                transform: translateX(-220px);
                transition: transform 0.2s ease-in-out;
                overflow: hidden;
                
                
                @media (min-width: 768px) {
                    top: 80px;
                    width: 65px;
                    transition: width 0.2s ease-in-out;
                    transform: translateX(0px);
                    height: calc(100% - 65px - 80px);
                }

                &.slider-active {
                    transform: translateX(0);

                    @media (min-width: 768px){
                        width: 256px;

                    }
                }
            }
            .slider-items-list {
                list-style: none;
                padding: 0;
                margin: 0;

                .slider-item {
                    padding: 15px;
                    padding-left: 1em;

                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    color: map-get($map: $text, $key: secondary);

                    @media (min-width: 768px){
                        padding-left: 1.5em;
                    }

                    &:hover {
                        background-color: map-get($map: $colors, $key: background);
                    }

                    i {
                        font-size: 20px;
                        margin-right: 1em;
                        color: map-get($map: $text, $key: secondary);

                        @media (min-width: 768px){
                            margin-right: 1.5em;
                        }
                    }

                    &.active-item {
                        color: map-get($map: $text, $key: active);
                        background: map-get($map: $colors, $key: active);


                        i {
                            color: map-get($map: $text, $key: active);
                        }
                    }
                }
            }
        }
        .nav-right-list {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-left: auto;

            .nav-right-item {
                padding: 10px;
                cursor: pointer;
                border-radius: 50%;
                text-align: center;
                margin-right: 12px;

                i {
                    font-size: 20px;
                    margin: 0;
                }
                &:hover {
                    background-color: darken(map-get($colors, background), 6%);
                }
                
                &.profile-box {

                    margin-right: 0px;
                    padding: 0;
                    position: relative;

                    .profile-box-container {
                        background-color: darken(map-get($colors, background), 6%);
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: centers;
                        border-radius: 50px;
                        padding: 5px;
                        .opener-icon {
                            padding: 4px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .profile-image {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            overflow: hidden    ;
                        }
                        span {
                            width: 22px;
                            height: 3px;
                            display: block;
                            margin-bottom: 3px;
                            border-radius: 4px;
                            background: map-get($map: $text, $key: secondary);
                        }

                    }

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// .main {
//     margin-left: 10px;
//     transition: margin-left 0.3s ease-in-out;

//     @media (min-width: 768px) {
//         margin-left: 75px;
//         transition: margin-left 0.3s ease-in-out;
//     }

//     &.drawer-active {
//         margin-left: 230px;

//         @media (min-width: 768px) {
//             margin-left: 266px;
//         }
//     }
// }

.footer {
    width: 100%;
    text-align: center;
    background-color: map-get($map: $colors, $key: main);
    padding: 10px;
    z-index: 1001;
    color: #fff;
    margin-top: auto !important;
}
