@import './variables';
.backdrop {
    position: absolute;
    z-index: 100000000;
    display: none;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    // z-index: 1;
    transition: opacity .3s ease-in-out;
    

    &.active {
        display: flex;
        opacity: 1;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background-color: white;
        height: auto;
        max-height: 95%;
        width: 100%;
        margin: 0 10px;
        max-width: 800px;
        border-radius: .28571429rem;
        


        .header {
            display: flex;
            padding: 20px;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: space-between;
            border-bottom: 1px solid rgba(34,36,38,.15);

            .header-text {
                font-size: 24px;
                font-weight: 600;
            }
            .close-icon {
                font-size: 16px;
            }
            @media (min-width: 650px){
                padding: 30px;
            }
        }
        .body {
            padding: 20px;
            height: 100%;
            max-height: 70vh;
            overflow: auto;
            border-bottom: 1px solid rgba(34,36,38,.15);

            @include scrollbar('vertical');

            @media (min-width: 650px){
                padding: 30px;
            }

        }
        .action {
            padding: 20px;
            text-align: right;

            @media (min-width: 650px){
                padding: 30px;
            }
        }
    }
}