.area-chart-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    @media (min-width: 768px){
        padding: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    @media (min-width: 992px){
        width: 50%;
        margin-right: 20px;
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 0px;

        &:last-child {
            margin-right: 0px;
        }
    }
    @media (min-width: 1600px){
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    @media (min-width: 1800px){
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
}

// .user-chart-container {
//     position: relative;
//     width: 100%;
//     text-align: center;

//     @media (min-width: 992px){
//         width: 50%;
//         padding: 50px;
//     }
// }
.user-chart-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    @media (min-width: 768px){
        padding: 60px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    @media (min-width: 992px){
        width: 50%;
        margin-right: 20px;
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 0px;

        &:last-child {
            margin-right: 0px;
        }
    }
    @media (min-width: 1600px){
        padding: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    @media (min-width: 1800px){
        padding: 180px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
}